[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/flanneld
Restart=on-failure
LimitNOFILE=65536
User=root

[Install]
WantedBy=multi-user.target
